.add_new {
  width: 100%;
  border: 1px solid white;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 12px 0;
  transition: transform 0.2s ease-in-out;
}
.add_new:hover {
  transform: scale(1.01);
}

.btn {
  color: black;
  font-weight: bold;
}
