/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "./pages/section.css";

/* Components */
@import "./components/section_card.css";
@import "./components/form.css";
@import "./components/issue_card.css";
@import "./components/navbar.css";
@import "./components/search_bar.css";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #80808042;
  background-color: #263926;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0 20px;
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

.default_h1, .default_h2 {
  color: #ccc;
}

h2 {
  font-size: 20px;
}

.section_name {
  text-align: end;
}

.back {
  color: #A7F3D0;
}
